mixin logo
    .logo
        img(src=require('/src/blocks/libs/Logo/assets/logo.svg') alt='TOXIN').logo__img
        img(src=require('/src/blocks/libs/Logo/assets/logo-text.svg') alt='Отели').logo__img