- let checkboxItems = [{txt: 'Завтрак', tab: '1', checked: false}, {txt: 'Письменный стол', tab: '2', checked: true}, {txt: 'Стул для кормления', tab: '3', checked: true}, {txt: 'Кроватка', tab: '4', checked: true}, {txt: 'Телевизор', tab: '5', checked: false}, {txt: 'Шампунь', tab: '6', checked: false}];

mixin checkboxDropdown
    +checkboxsGroup(checkboxItems)