mixin copyright(version)
    case version
        when 'tablet'
            p.copyright.copyright_tablet Copyright &copy;&nbsp;2018 Toxin отель. Все права защищены.
        when 'mobile'
            p.copyright.copyright_mobile Copyright &copy;&nbsp;2018 Toxin отель. Все права защищены.
        default
            p.copyright Copyright &copy;&nbsp;2018 Toxin отель. Все права защищены.