mixin likeBtn
    .like
        button.like__btn
            span(id='like-icon' class='like__icon')
                img(src=require('../../assets/images/likeBtn/like.svg') alt='Like button')
            span(id='like-count' class='like__count') 0