mixin subsribe
    li.footer-nav__item
        h3.footer-nav__title.title Подписка
        .subs
            a(href= '/' class= 'nav__link') Получайте специальные предложения и&nbsp;новости сервиса
            +inputSubs('Email', 'Email', true)