-let socialItems = [{href: 'twitter.com', aria: 'twitter', cls: 'fa-twitter'}, {href: 'facebook.com', aria: 'facebook', cls: 'fa-facebook-square '}, {href: 'instagram.com', aria: 'instagram', cls: 'fa-instagram'}]
mixin social
    ul.social
        each item in socialItems
            li.social__item
                a(href= item.href target='_blank' aria-label= item.aria class='social__link')
                    i(class= `social__icon fa-brands ${item.cls}`)