include _socialImg

-let socialItems = [{name: 'twitter.svg', href: 'twitter.com', alt: 'twitter'}, {name: 'facebook.svg', href: 'facebook.com', alt: 'facebook'}, {name: 'instagram.svg', href: 'instagram.com', alt: 'instagram'}]
mixin social
    ul.social
        each item in socialItems
            li.social__item
                a(href= item.href target='_blank').social__link
                    +socialImg(item.name, item.alt)