@font-face {
  font-family: MainFont;
  src: url("../fonts/Montserrat Regular.ttf");
}

@font-face {
  font-family: generalFont;
  src: url("../fonts/Montserrat Regular.woff");
}

@font-face {
  font-family: secondFont;
  src: url("../fonts/montserrat-bold.woff");
}