extends ../layout
block vars
    -let lang = 'ru-RU';
    -let siteTitle = 'Headers&footers';
block content
    +headerNavBar
        +logo
        +headerWrapper
            +headerNav()
            +burgerMenu
            +auth(false)
    +headerNavBar
        +logo
        +headerWrapper
            +headerNav
            +burgerMenu
            +auth(true)
    +main
    +footer
    +footerTablet